# Authentik 설정
AUTHENTIK_BOOTSTRAP_EMAIL=<authentik default user email>
AUTHENTIK_BOOTSTRAP_PASSWORD=<authentik default user password>
AUTHENTIK_BOOTSTRAP_TOKEN=jhb6XJIm6MZdN1d699RIL9Tqk6ARS41PswgCPulBfIM=

# 랜덤값 생성
# echo "PG_PASS=$(openssl rand -base64 36 | tr -d '\n')" >> .env
# echo "AUTHENTIK_SECRET_KEY=$(openssl rand -base64 60 | tr -d '\n')" >> .env
PG_PASS=<authentk postgres password>
AUTHENTIK_SECRET_KEY=<authentik secret key>